$breakpoints: (
  'tiny': 500px,
  'small': 700px,
  'medium': 1000px,
  'large': 1250px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found. "
      + "Available breakpoints: #{may-keys($breakpoints)}";
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

  overflow-y: scroll;
}

h1 {
  font-size: 2.8rem;
  margin: 0 0 2.5rem 0;
  text-align: center;
  font-weight: 100;
}

.container {
  overflow-x: hidden;
  width: 100rem;
  max-width: 94vw;
  margin: 5rem 0;
  background: rgba(40, 40, 40, 0.8);
  color: rgb(225, 255, 255);
  padding: 4rem;

  font-size: 1.6rem;
  font-family: 'Baloo Bhai 2';
  font-weight: 100;

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-shadow: 0px 10px 26px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 10px 26px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 10px 26px 4px rgba(0, 0, 0, 0.4);

  @include respond-to('medium') {
    margin: 3vw 0;
  }

  @include respond-to('small') {
    padding: 4rem 2rem;
  }
}

.inputs {
  .input {
    margin: 0.5rem 0;
    display: flex;

    @include respond-to('small') {
      margin-top: 1.2rem;
    }

    label {
      flex: 0 2 50rem;
      vertical-align: middle;

      @include respond-to('small') {
        line-height: 1.2;
      }
    }

    input {
      height: 3rem;
      padding: 0.8rem 0.6rem;
      flex: 0 0 auto;
      margin-left: 2rem;
      font-family: 'Arial';
      width: 10rem;
    }

    &--submit {
      justify-content: center;

      button {
        outline: none;
        cursor: pointer;
        opacity: 0.9;
        background-image: linear-gradient(120deg, #84fab0 0%, #57da8d 100%);
        margin-top: 1rem;
        padding: 1rem 3rem;
        border: none;
        // border: 1px solid #8fd3f4;
        border-radius: 4rem;

        -webkit-box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 2px 12px 2px rgba(0, 0, 0, 0.5);

        @include respond-to('small') {
          margin-top: 3rem;
          width: 80%;
          height: 5rem;
          font-size: 2rem;
        }
      }
    }
  }
}

.outputs {
  display: none;
  margin-top: 5rem;
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
  }
}
